<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/homeApp.js"></script>
    <script src="https://use.fontawesome.com/f212b4ef85.js"></script>
  </head>

    <nav id="nav-bar" class="row">
       <a href="/"><img src="/images/logo.png" class="logoIcon pull-left" alt="bg"></a>
      <span class="header col-xs-6 col-lg-5">FoodApp</span>
      <form class="form-inline loginForm  col-xs-5 col-lg-6 pull-right" id="loginForm" action="/home" method="POST">
        <div class="form-group pull-right">
          <button type="submit" class="submitBtn pull-right">Submit</button>
        </div>
        <div class="form-group pull-right">
          <input type="password" name="password" class="form-control override" id="pwd" placeholder="Enter password">
        </div>
        <div class="form-group pull-right">
          <input type="email" name="email" class="form-control override" id="email" placeholder="Enter email">
        </div>
        <span class="alertMessage">Incorrect Login</span>
      </form>
    </nav>
