<% include ./partials/_header %>


  <head>
    <link rel="stylesheet" href="/styles/admin.css" type="text/css" />
  </head>

    <body>
      <div class="containerMain">


      </div>
  </body>
</html>
