<% include ./partials/_header %>


  <head>
    <link rel="stylesheet" href="/styles/admin.css" type="text/css" />
        <script type="text/javascript" src="/scripts/adminApp.js"></script>
  </head>

    <body>
      <div class="containerMain">


      </div>
  </body>
</html>
