<% include ./partials/_header %>
<% include ./partials/_checkout %>

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">

    <body>
     <img src="/images/homeBanner.jpg" class="bgImage" alt="bg">
      <div class="container" id="checkoutContainer">
        <div class="row">
          <div class="col-md-12" id="checkoutHead">
            <h3><u>Register Page</u></h3>
            <hr></hr>

          </div>
          <div class="col-md-6" id="orderDetails">
            <h3>Your order</h3>
            <hr></hr>
            <div id="itemsPopulate">

            </div>
            <div id="orderTotals">

            </div>
            <div id="vendorInfo">
              <hr></hr>
              <p>46 Spadina Avenue, Toronto, M5V 2H8</p>
              <hr></hr>
              <p>Pick up in 15mins</p>
            </div>
          </div>
          <div class="col-sm-6">
            <h3>Payment Options</h3>
            <button id="creditCardBtn">Credit Card</button>
            <hr></hr>
            <button>Paypal</button>
          </div>
        </div>
      </div>
      <div class ="container" id ="sucessContainer">
        <h2>Thankyou!! Your payment has been accepted. You will receive a sms shortly on your provided number to confirm that we have started making your order.</h2>
      </div>

     </div>
  </body>
</html>
