<% include ./partials/_header %>

    <body>
        <div>
          <img src="/images/homeBanner.jpg" class="bgImage" alt="bg">
          <h1 class="text-left titleText T1">Fast</h1>
          <h1 class="text-left titleText T2">Fresh Food</h1>
          <a href="/foods"><button type="submit" class="menuBtn"><i class="fa fa-list icon" aria-hidden="true"></i>See Our Menu</button></a>
          <p class="subtitle">Ready to Order? <a href="#"><span class="mainLinks">Login</span></a> or <a href="/register"><span class="mainLinks">Register</span></a></p>
      </div>
  </body>
</html>
