<% include ./partials/_header %>

    <body>
        <div>
          <img src="/images/homeBanner.jpg" class="bgImage" alt="bg">
          <h1 class="text-left titleText T1">Fast</h1>
          <h1 class="text-left titleText T2">Fresh Food</h1>
          <button type="submit" class="menuBtn"><i class="fa fa-list icon" aria-hidden="true"></i>See Our Menu</button>
          <p class="subtitle">Ready to Order? <span class="mainLinks">Login</span> or <span class="mainLinks">Register</span></p>
      </div>
  </body>
</html>
