<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <img src="/images/homeBanner.jpg" class="bgImage" alt="bg">
    <nav id="nav-bar">

      <span class="header">FoodApp</span>
        <form class="" action="index.html" method="post">
            <input type="text" placeholder="Enter Username" name="username" required>
            <input type="text" placeholder="Enter password" name="password" required>
        </form>
    </nav>

    <h1>Hello World!</h1>
  </body>
</html>
