<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/homeApp.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.min.js"></script>
  </head>

    <body>
        <div>
          <h1>TEST</h1>
          <img src="/images/homeBanner.jpg" class="bgImage" alt="bg">
          <div class="btnContainer col-md-12 col-xs-2 text-center">
          <!-- <button type="button" class=" btn btn-info btn-lg">Log in to see our menu!</button> -->
        </div>
      </div>
  </body>
</html>
