@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #EEE;


  h1 {
    font-size: 8em;
    color: white;
  }
}

.bgImage {
  max-height: 100%;
  width: 100%;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.titleText {
  text-shadow: 3px 0px 9px rgba(0, 0, 0, 0.7);
  padding-left: 150px;
}

.T1 {
  margin-top: -700px;
}

.T2 {
  font-size: 8em;
}

.menuBtn {
  margin-top: 0.5%;
  font-family: 'Roboto', sans-serif;
  margin-left: 9%;
  font-size: 1.2em;
  height: 45px;
  color: white;
  width: 220px;
  padding: 10px;
  background-color: #e80238;
  border: 0;
  -webkit-border-radius: 60px; -moz-border-radius: 60px; border-radius: 60px;
  -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-box-shadow: 1px 7px 24px 2px rgba(0,0,0,0.29);
    -moz-box-shadow: 1px 7px 24px 2px rgba(0,0,0,0.29);
    box-shadow: 1px 7px 24px 2px rgba(0,0,0,0.29);

}

.icon {
  padding-right: 15px;
}

.menuBtn:hover {
  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.subtitle {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: inline;
  padding-left: 20px;
  text-shadow: 3px 0px 9px rgba(0, 0, 0, 0.3);
}


.mainLinks {
  color: #ff2357;
}


@media screen and (max-width: 768px) {
    h1 {
        font-size:14px;
    }

    .T1 {
      margin-top: -200px;
      font-size: 4em;
    }
    .T2 {
      font-size: 4em;
    }

    .menuBtn {
      font-size: 14px;
      width: 140px;
      height: 30px;
    }
}


@media screen and (max-width: 1300px) {
  .T1 {
    margin-top: -550px;
    font-size: 6em;
  }
  .T2 {
    font-size: 6em;
  }
}


@media screen and (max-width: 1070px) {
  .T1 {
    margin-top: -350px;
    font-size: 4em;
  }
  .T2 {
    font-size: 4em;
  }
  .menuBtn {
    font-size: 14px;
    width: 180px;
    height: 40px;
  }

}
