
#nav-bar {
  height: 80px;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.logoIcon {
  margin-top: 15px;
  width: 50px;
  height: 50px;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  padding-left: 10px;
  line-height: 75px;
  font-size: 2em;
}


#composeBtn {
  margin-top: 16px;
  padding: 15px;
  float: right;
  border-radius: 5px;
  background-color: #E7FDFF;
  border: 1px solid black
}

.composeIcon {
  padding-right: 5px;
}

#composeBtn:hover {
  background-color: white;
}

.loginForm {
  padding-top: 25px;
  float: right;
  display: inline;
}

.btnContainer {
  padding-top: 40%;
  position: relative;
}

input {
    background: transparent;
}

.override {
     border: 0;
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 }

 .formError {
   border-bottom: 1px solid red;
 }

.form-group {
  margin-left: 20px;
  margin-right: 20px;
}

.form-control:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  // -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  // box-shadow:inset inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
}

input:focus[type="email"]::-webkit-input-placeholder {
color: white
}

input:focus[type="password"]::-webkit-input-placeholder {
color: white
}

.submitBtn {
  margin-top: -5px;
  height: 39px;
  color: grey;
  width: 100px;
  padding: 10px;
  border: 0;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.0);
  border-right: 1px solid rgba(255, 255, 255, 0.0);
  border-left: 1px solid rgba(255, 255, 255, 0.0);
  -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
  -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.submitBtn:hover {
  color: white;
  border: 1px solid rgba(255, 255, 255, 1);
  -webkit-border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;border-radius: 10px 10px 10px 10px;
}

.submitBtn:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0),0 0 8px rgba(102,175,233,0);
  box-shadow:inset inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102,175,233,0)
}

.alertMessage {
  display: none;
  color: grey;
  padding-left: 50px;
  margin-top: 2.3%;
  float: right;
}


@media screen and (max-width: 768px) {

  input {
      background: white;
  }

  .submitBtn {
    background: white;
  }
}
